.video-player-inner {
    width: 100%;
    /* align-content: center; */
    margin-left: 25%;
    display: flex;
}

.video-player-inner button {
    margin-left: 25px;
    margin-top: 25px;
    font-size: 25px;
    height: 50px;
    display: flex;
    font-weight: bold;
    border-radius: 22px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    /* box-shadow: 30px, 30px, rgba(69, 12, 224, 0.5); */
}

.video-player-inner button :hover {
    /* color: blue; */
    cursor: pointer;
}

.video-player-inner span {
    padding-top: 8px;
    padding-right: 3px;
    padding-left: 3px;
}